.img{
    position: relative;
    background-image: url(./assets/images/main_bus_stop.png);
    height: 100vh;
    background-size: cover;
}

.img .content{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     font-size:5rem;
     color: white;
     z-index: 2;
     text-align: center;
}
