.img{
  position: relative;
  background-image: url(/assets/images/main_bus_stop.png);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover;
  will-change: transform,top;
  height: 20vh;
  left: 0;
  background-size: 30%!important;
  background-position: 50% 50%!important;
}

.img .content{
     position: absolute;
     top:48%;
     left:10%;
     font-size:5rem;
     color: white;
     z-index: 2;
     text-align: center;
}
